.myContainer {
    background-color: #e0e0e0;
}

.btn {
    margin: 2vh;
}

.leftColumn {
    border-right: solid 2px black;
    height: 95vh;
    overflow: auto;
}

#chat {
    height: 62vh;
    margin: 5%;
    background-color: #ffee58;
    border: 2px solid red;
    font-size: 20px;
    overflow: auto;
}

#game {
    padding: 10vh;
    height: 100%;
    width: 50vw;
}

#game table {
    border: 3px blue outset;
    background-color: blue;
}

#game td {
    width: 5vh;
    height: 12vh;
    margin: 0px;
    padding: 0px;
    border: 2px blue inset;
    border-radius: 5vh;
    background-color: white;
    cursor: pointer;
}

#game td.player1 {
    background-color: red;
}

#game td.player2 {
    background-color: yellow;
}

.myContainer {
    height: 95vh;
    overflow: hidden;
}

.controlPanel {
    overflow-y: auto;
    overflow-x: hidden;
    margin-bottom: 0;
}

.navbar {
    height: 5vh;
    font-size: 25px;
    color: white;
    background-color: darkblue;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

*, > * {
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

.collection {
    margin: 0;
}

.clickable:hover {
    background-color: indianred;
    transition: background-color 0.7s ease;
    cursor: pointer;
}